[submodule "opensource/asas-virtuais-preact"]
	path = opensource/asas-virtuais-preact
	url = https://github.com/icaro-capobianco/asas-virtuais-preact
	branch = master
	ignore = dirty
[submodule "opensource/asas-virtuais-ts"]
	path = opensource/asas-virtuais-ts
	url = https://github.com/icaro-capobianco/asas-virtuais-ts
	branch = master
	ignore = dirty
[submodule "libraries/abstract-data-layer"]
	path = libraries/abstract-data-layer
	url = https://github.com/icaro-capobianco/abstract-data-layer
	branch = master
	ignore = dirty